<ion-header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <ion-buttons slot="start">
        <ion-menu-button style="color: cornsilk;"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        تفاصيل التقني
      </ion-title>
    </mat-toolbar-row>
  </mat-toolbar>
</ion-header>

<ion-content>
  <ion-card class="p-3">  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <ion-row>
          <mat-icon>person</mat-icon> <b class="mr-2"> اسم التقني : {{tech?.firstName +' '+ tech?.lastName}}</b> <i></i>
        </ion-row>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <ion-row>
          <mat-icon>person</mat-icon> <b class="mr-2"> رقم الهاتف :</b> <a href="tel:{{tech?.phoneNumber}}">{{tech?.phoneNumber}}</a><i></i>
        </ion-row>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <ion-row>
          <mat-icon>subject</mat-icon> <b class="mr-2"> المدينة : {{tech?.city}}</b> <i></i>
        </ion-row>
      </div>
    </div>
    <hr />
  
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <ion-row>
          <mat-icon>add_photo_alternate</mat-icon> <b class="mr-2"> صورة الهوية الشخصية</b>
        </ion-row>
        <ion-row>
          <img [src]="mainImgUrl+tech?.identityImage" />
        </ion-row>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <ion-row>
          <mat-icon>add_photo_alternate</mat-icon> <b class="mr-2"> صورة شهادة مزاولة المهنة</b>
        </ion-row>
        <ion-row>
          <img [src]="mainImgUrl+tech?.certificate" />
        </ion-row>
      </div>
    </div>
    <hr />
    <ion-row>
      <ion-col class="m-3">
        <button (click)="acceptRequest(tech.id)" style="width: 100px" mat-raised-button color="primary">
          <mat-icon>check_circle</mat-icon> قبول
        </button>
      </ion-col>
      
    </ion-row>
  </ion-card>
</ion-content>