<ion-header color="primary">
  <mat-toolbar color="primary">
   
      <mat-toolbar-row>
          <ion-buttons slot="start">
              <ion-menu-button style="color: cornsilk;"></ion-menu-button>
            </ion-buttons>
            <ion-title>
             عن DarHome
                 
            </ion-title>   
          </mat-toolbar-row>
    
   
    </mat-toolbar>
</ion-header>


<ion-content>
<br><br>
<div class="container">
  <h4 style="color: gray;">
  تمثل الخدمات المنزلية مشكلة للعديد من المنازل مع الكثير من الآثار الجانبية ، والآن توفر التكنولوجيا خدمات أسهل وأفضل ، مع الكثير من الخيارات للاختيار من بينها.
 والأهم من ذلك هو الانتظار ، وأن العميل لا يعرف من هو مقدم الخدمة ، مما قد يؤدي إلى تأخيرهم عن وظائفهم اليومية وعدم الشعور بالأمان.
 وهنا جئنا للمساعدة في تقديم خدمات أسهل للناس في حالة تعطل أي شيء أو إصلاحه في المنزل ، وتوصلنا إلى فكرة تساعد الأشخاص بشكل عام ولا تذهب لجمهور محدد لإصلاح هذه المشكلات
 يوفر تطبيقنا (DAR) العديد من الميزات التي تشمل جمع جميع الخدمات المنزلية في مكان واحد حيث يمكن للناس الحصول على ما يريدون.  يمكن أن يوفر الوقت والجهد للعديد من المستخدمين وسيساعد على تجنب انتظار الكثير من الوقت ، وكذلك إعطاء الشعور بالأمان والصدق والخصوصية التي يحتاجها العملاء.
  </h4>
</div>
</ion-content>
