
  <div class="rating-box">
      <ion-row>
      
          <div class="rating">
              <input type="radio" id="star1" name="rating" (click)="setradio(5)" /><label for="star1" title="Sucks big time">1 star</label>
              <input type="radio" id="star2" name="rating" (click)="setradio(4)" /><label for="star2" title="Sucks big tim">2 stars</label>
              <input type="radio" id="star3" name="rating" (click)="setradio(3)" /><label for="star3" title="Kinda bad">3 stars</label>
              <input type="radio" id="star4" name="rating" (click)="setradio(2)" /><label for="star4" title="Kinda bad">4 stars</label>
              <input type="radio" id="star5" name="rating" (click)="setradio(1)" /><label for="star5" title="Meh">5 stars</label>
          </div>
        </ion-row>
        <ion-row class="rating-box-item">
          <ion-item>
            <ion-label>قيمة التقييم : {{ratingValue}}</ion-label>
            </ion-item>
        </ion-row>
      
        <ion-row>
            <ion-col></ion-col>
            <ion-col>  
                <ion-button color="primary" (click)="closeModal()">ارسال</ion-button>        
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
  </div>