<ion-header>
    <mat-toolbar color="primary">     
        <mat-toolbar-row>
            <ion-buttons slot="start">
                <ion-menu-button style="color: cornsilk;"></ion-menu-button>
              </ion-buttons>
              <ion-title>
               طلب جديد
              </ion-title>   
            </mat-toolbar-row>
      </mat-toolbar>
</ion-header>

<ion-content>
<div class="backBody">
  <br />
  <br />

  <mat-card class="p-3" style="opacity: 0.9; width: 80%; margin-right: 10%;">
    <ion-row>
      <ion-label class="text-center">يرجى تعبئة جميع الحقول لإرسال طلبك</ion-label>
    </ion-row>
    <form [formGroup]="orderForm">
      <div *ngIf="isFirstStep">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <mat-form-field class="col-md-12">
              <mat-label>
                <mat-icon>drag_indicator</mat-icon> <b> نوع الوحدة</b> <i></i>
              </mat-label>
              <mat-select placeholder="اختر نوع الوحدة" [formControl]="unitType">
                <mat-option value="1">
                  شقة
                </mat-option>
                <mat-option value="2">
                  مبنى
                </mat-option>
                <mat-option value="3">
                  فيلا
                </mat-option>
                <mat-option value="4">
                  اخرى
                </mat-option>
              </mat-select>
              <mat-error *ngIf="unitType.touched && unitType.invalid">
                نوع الوحدة مطلوب
              </mat-error>
            </mat-form-field>
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <mat-form-field class="col-md-12">
              <mat-label>
                <mat-icon>drag_indicator</mat-icon> <b> نوع الخدمة الفرعي</b> <i></i>
              </mat-label>
              <mat-select placeholder="اختر نوع الوحدة" [formControl]="subCategoryId">
                <mat-option *ngFor="let category of subCategories" [value]="category.id">
                  {{category.subCategoryName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="subCategoryId.touched && subCategoryId.invalid">
                نوع الخدمة الفرعي مطلوب
              </mat-error>
            </mat-form-field>
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <mat-form-field class="col-md-12">
              <mat-label>
                <mat-icon>line_weight</mat-icon> <b> التفاصيل</b> <i></i>
              </mat-label>
              <input matInput placeholder="تفاصيل الطلب" formControlName="details" type="text">
              <mat-error *ngIf="details.touched && details.invalid">
                التفاصيل مطلوب
              </mat-error>
            </mat-form-field>
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <mat-form-field class="col-md-12">
              <mat-label>
                <mat-icon>my_location</mat-icon> <b> العنوان</b> <i></i>
              </mat-label>
              <input matInput placeholder="ادخل عنوانك بالكامل" formControlName="location" type="text">
              <mat-error *ngIf="location.touched && location.invalid">
                العنوان مطلوب
              </mat-error>
            </mat-form-field>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="file-upload">
                <label for="upload" class="file-upload__label">
                  <mat-icon>add_photo_alternate</mat-icon> <b> صورة العطل</b>
                </label>
                <input id="upload" class="file-upload__input" type="file" (change)="uploadImage($event)"
                  name="file-upload">
              </div>
            </div>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-12 text-center">
            <button mat-raised-button color="primary" (click)="isFirstStep=false;isSecondStep=true;">
              التالي
            </button>
          </div>

        </div>

        <br />
      </div>
      <div *ngIf="isSecondStep">

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <label id="example-radio-group-label">قم باختيار التقني الخاص بك</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              [formControl]="technicianId">
              <mat-radio-button (click)="setProviderNumber(technician.phoneNumber)" class="example-radio-button" *ngFor="let technician of technicians"
                [value]="technician.id">
                <ion-item style="width: 100%;">
                  <ion-col>
                    <a [routerLink]="['/profile/'+technician.id+'/'+false+'/'+false]">
                    {{' '+technician?.firstName +' '+technician?.lastName+' '}}
                    </a>
                  </ion-col>
                  <ion-col>
                    <ion-row>
                      <mat-icon>star</mat-icon> {{technician.rate}}
                    </ion-row>
                  </ion-col>
                </ion-item>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div><br />
        <div class="row p-3">
          <ion-col class="p-3">
            <button mat-raised-button color="primary" (click)="createOrder()">
              ارسال
            </button>
          </ion-col>
          <ion-col class="p-3">
            <button mat-raised-button color="primary" (click)="isFirstStep=true;isSecondStep=false;">
              السابق
            </button>
          </ion-col>

        </div>
      </div>
    </form>
  </mat-card>
</div>
</ion-content>