<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      الملف الشخصي
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section">
    <div class="container my-container">
      <div class="columns">
        <div class="column is-4 is-offset-4">
          <div class="card">
            <div class="header">
              <div class="avatar">
                <img src="https://randomuser.me/api/portraits/women/67.jpg" alt="">
              </div>
            </div>
            <div class="card-body">
              <div *ngIf="isUser!='true' && isOwner=='true'" class="user-meta has-text-centered">
                <h3 class="username">{{currentUser?.firstName +' '+ currentUser?.lastName}}</h3>
              </div>
              <div *ngIf="isUser!='true' && isOwner!='true'" class="user-meta has-text-centered">
                <h3 class="username">{{currentUser?.firstName +' '+ currentUser?.lastName}}</h3>
                <h5 *ngIf="currentUser?.sex" class="position">ذكر</h5>
                <h5 *ngIf="!currentUser?.sex" class="position">انثى</h5>
                <h5 class="position">{{getCategoryName(currentUser?.categoryType)}}</h5>
                <h5 class="position">سنوات الخبرة{{' '+currentUser?.experianceYears+' '}}</h5>
                <h5 class="position">
                  <mat-icon class="mr-2">star</mat-icon> {{currentUser?.rate}}
                </h5>
              </div>
              <div *ngIf="isUser=='true' && isOwner=='true'" class="user-meta has-text-centered">
                <h3 class="username">{{currentUser?.name}}</h3>
              </div>
              <div *ngIf="isUser=='true' && isOwner!='true'" class="user-meta has-text-centered">
                <h3 class="username">{{currentUser?.name}}</h3>
                <h5 class="position">
                  <mat-icon class="mr-2">star</mat-icon> 4.5
                </h5>
              </div>
              <div *ngIf="isOwner!='true'" class="action has-text-centered">
                <ion-row>
                  <ion-col>
                    <a href="tel:{{currentUser?.phoneNumber}}" class="button is-small">اتصال</a>
                  </ion-col>
                  <ion-col *ngIf="isUser!='true'">
                    <a (click)="openDialog()" class="button is-small">تقييم</a>
                  </ion-col>
                </ion-row>
              </div>

            </div>
          </div>
          <div *ngIf="isOwner=='true'" class="card" style="color: gray;">

            <ion-row class="p-3">
              <h3 class="text-center">طلباتي</h3>
            </ion-row>
            <div *ngFor="let order of currentUser?.order">
              <ion-row class="order-card">
                <ion-col>
                  <img class="order-img" [src]="getCategoryImage(order.categoryId)" />
                </ion-col>
                <ion-col>
                  <ion-row *ngIf="isUser!='true'" class="m-2" style="color: cornflowerblue;" (click)="router.navigate(['/profile/'+order.user.id+'/true/false'])">
                    <mat-icon>person</mat-icon> {{order.user.name}}
                  </ion-row>
                  <ion-row *ngIf="isUser=='true'" class="m-2" style="color: cornflowerblue;" (click)="router.navigate(['/profile/'+order.technician.id+'/false/false'])">
                    <mat-icon>person</mat-icon> {{order.technician.firstName +" "+ order.technician.lastName}}
                  </ion-row>
                  <ion-row class="m-2">
                    <mat-icon>apps</mat-icon> {{getCategoryName(order.categoryId)}}
                  </ion-row>
                  <ion-row *ngIf="order.orderStatus==1" class="m-2">
                    <mat-icon>help_outline</mat-icon> بإنتظار القبول
                  </ion-row>
                  <ion-row *ngIf="order.orderStatus==2" class="m-2">
                      <mat-icon>help_outline</mat-icon> مقبول
                    </ion-row>
                    <ion-row *ngIf="order.orderStatus==3" class="m-2">
                        <mat-icon>help_outline</mat-icon> مرفوض
                      </ion-row>

                  
                  <ion-row>
                    <button (click)="router.navigate(['/order-details/'+order.id])" mat-raised-button color="primary">
                      <mat-icon>remove_red_eye</mat-icon> مشاهدة التفاصيل
                    </button>
                  </ion-row>
                </ion-col>
              </ion-row>
              <hr />
              <ion-row>
                <ion-col>
                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>
                </ion-col>
              </ion-row>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
  <ion-row style="height: 50%;background-color: black;"></ion-row>
  <ion-row style="height: 50%;"></ion-row>
 
</ion-content>