<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      الملف الشخصي
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section">
    <div class="container my-container">
      <div class="columns">
        <div class="column is-4 is-offset-4">
          <div class="card">
            <div class="header">
              <div class="avatar">
                <img src="https://randomuser.me/api/portraits/women/67.jpg" alt="">
              </div>
            </div>
            <div class="card-body">
              <div class="user-meta has-text-centered">
                <h3 class="username">علا محمد</h3>
                <h5 class="position">أعمال النجارة</h5>
                <h5 class="position">انثى</h5>
              </div>
             
              <div class="action has-text-centered">
                <ion-row>
                  <ion-col>
                    <a href="#" class="button is-small">اتصال</a>
                  </ion-col>
                  <ion-col>
                    <a (click)="openDialog()" class="button is-small">تقييم</a>
                  </ion-col>

                </ion-row>
              </div>
              
            </div>
          </div>
          <div class="card" style="color: gray;">
              
              <div>
                  <ion-row class="p-3">
                   <h3 class="text-center">طلباتي</h3>
                  </ion-row>
                  <ion-row class="order-card" (click)="router.navigate(['/order-details/1'])">
                      <ion-col>
                        <img class="order-img" src="../../assets/imgs/furintuire.jpg" />
                      </ion-col>
                      <ion-col>
                        <ion-row class="m-2" style="color: cornflowerblue;"><mat-icon>person</mat-icon>محمد سلطان</ion-row>
                        <ion-row class="m-2"><mat-icon>apps</mat-icon>  أعمال النجارة</ion-row>
                        <ion-row class="m-2"><mat-icon>help_outline</mat-icon>  بإنتظار القبول</ion-row>
                      </ion-col>
                  </ion-row>
                  <ion-row class="order-card" (click)="router.navigate(['/order-details/1'])">
                    <ion-col>
                      <img class="order-img" src="../../assets/imgs/furintuire.jpg" />
                    </ion-col>
                    <ion-col>
                      <ion-row class="m-2" style="color: cornflowerblue;"> <mat-icon>person</mat-icon>محمد سلطان</ion-row>
                      <ion-row class="m-2"><mat-icon>apps</mat-icon>  أعمال النجارة</ion-row>
                      <ion-row class="m-2"><mat-icon>help_outline</mat-icon>  بإنتظار القبول</ion-row>
                    </ion-col>
                   
                </ion-row>
                </div>
                
            </div>
        </div>

      </div>

    </div>
  </div>
  <ion-row style="height: 50%;background-color: black;"></ion-row>
  <ion-row style="height: 50%;"></ion-row>
  <div class="container">
    <!-- *ngIf="isLoggedIn() && passedUserId==currentUserId"> -->
    <!-- owner view -->

  </div>
  <div class="container">
    <!-- *ngIf="isLoggedIn() && passedUserId==currentUserId"> -->

    <!-- not owner view -->
    <!--  <ion-card  class="avatar-card">
      <ion-row class="avatar-img">
        <ion-col></ion-col>
        <ion-col>
          <img class="avatar-img-content" src="../../assets/icon/favicon.png" />
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row class="mt-5 pt-3">
        <ion-col size="2"></ion-col>
        <ion-col>
          <a class="m-2" href="tel:9349843">
            <button mat-raised-button color="primary">
              <ion-icon name="call"></ion-icon> اتصال
            </button>
          </a>
          <button class="m-2" mat-raised-button color="primary">
            <ion-icon name="star-half"></ion-icon> تقييم
          </button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
      <ion-row class="mt-1">
        <ion-col size="2"></ion-col>
        <ion-col>
          <ion-row>
            <ion-col class="m-2">
              <ion-row>4.5</ion-row>
              <ion-row>التقييم</ion-row>
            </ion-col>
            <ion-col class="m-2">
              <ion-row>26</ion-row>
              <ion-row>طلب</ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
      <ion-row class="mt-1">
        <ion-col></ion-col>
        <ion-col>
          <h4>محمد علي</h4>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-card> -->

  </div>

</ion-content>