<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      تفاصيل الطلب
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <br/>
  <br/>

  <ion-card class="p-3">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-label>
                <mat-icon>person_pin</mat-icon> <b> نوع الوحدة</b> <i></i>
              </mat-label>
        </div>
      </div><hr/>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-label>
                <mat-icon>person_pin</mat-icon> <b> نوع الخدمة الفرعي</b> <i></i>
              </mat-label>
       
        </div>
      </div><hr/>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-label>
                <mat-icon>person_pin</mat-icon> <b> التفاصيل</b> <i></i>
              </mat-label>
        </div>
      </div><hr/>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-label>
                <mat-icon>person_pin</mat-icon> <b> العنوان</b> <i></i>
              </mat-label>
        </div>
      </div><hr/>

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
              <label for="upload" class="file-upload__label">
                  <mat-icon>add_photo_alternate</mat-icon> <b> صورة العطل</b>
                </label>         
        </div>
      </div><hr/>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-label>
                <mat-icon>person_pin</mat-icon> <b>التقني</b> <i></i>
              </mat-label>
        </div>
      </div><hr/>
      <ion-row>
          <ion-col class="m-3">
            <button style="width: 100px" mat-raised-button color="primary">
              <mat-icon>check_circle</mat-icon> قبول
          </button>
          </ion-col>
          <ion-col class="m-3">
            <button style="width: 100px" mat-raised-button color="primary">
              <mat-icon>highlight_off</mat-icon> رفض
          </button>
          </ion-col>
        </ion-row>

      <hr/>
  </ion-card>
</ion-content>