<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      تفاصيل الطلب
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <br/>
  <br/>

  <ion-card class="p-3">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <ion-row>
              <mat-icon>group_work</mat-icon> <b class="mr-2">  نوع الوحدة  </b> 
          </ion-row>
        </div>
      </div><hr/>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ion-row>
                <mat-icon>group_work</mat-icon> <b class="mr-2"> نوع الخدمة الفرعي</b> <i></i>
              </ion-row>
       
        </div>
      </div><hr/>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ion-row>
                <mat-icon>subject</mat-icon> <b class="mr-2"> التفاصيل</b> <i></i>
              </ion-row>
        </div>
      </div><hr/>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ion-row>
                <mat-icon>my_location</mat-icon> <b class="mr-2"> العنوان</b> <i></i>
              </ion-row>
        </div>
      </div><hr/>

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
              <ion-row>
                  <mat-icon>add_photo_alternate</mat-icon> <b class="mr-2"> صورة العطل</b>
              </ion-row>    
              <ion-row>
                <img src="../../assets/imgs/apply-blue-brush-221027.jpg"/>
              </ion-row>     
        </div>
      </div><hr/>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ion-row>
                <mat-icon>person_pin</mat-icon> <b class="mr-2">التقني</b> <i></i>
              </ion-row>
        </div>
      </div><hr/>
      <ion-row>
          <ion-col class="m-3">
            <button style="width: 100px" mat-raised-button color="primary">
              <mat-icon>check_circle</mat-icon> قبول
          </button>
          </ion-col>
          <ion-col class="m-3">
            <button style="width: 100px" mat-raised-button color="primary">
              <mat-icon>highlight_off</mat-icon> رفض
          </button>
          </ion-col>
        </ion-row>

      <hr/>
  </ion-card>
</ion-content>