<ion-header color="primary">
  <mat-toolbar color="primary">

    <mat-toolbar-row>
      <ion-buttons slot="start">
        <ion-menu-button style="color: cornsilk;"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        الإشعارات

      </ion-title>
    </mat-toolbar-row>


  </mat-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="router.navigate(['/order-details/'+notification.orderId])" class="notify-box p-2" *ngFor="let notification of notifications">
    <ion-row>
      {{notification.body}} 
    </ion-row>
  </ion-card>

</ion-content>