.notify-box{
    border-right: 1ch;
    border-right-style: solid;
    border-right-color: #3F51B5;
    margin-top: 10px;
    direction: rtl;
    font-size: large;
    margin-right: 20px !important;
    }